.header{
    background-color: #ff0059;
    color: white;
    text-transform: uppercase;
    width: fit-content;
    padding-right: 25px;
    box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.61);
}

.title{
    font-weight: 700;
    padding-left: 50px;
    padding-right: 25px;
    font-size: 22pt
}