.navbar {
    background-color: #740028;
    color: white;
    width: fit-content;
    padding-left: 12px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
    box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.61);
}

li {
    padding: 10px;
    font-weight: 700;
}

li:hover{
    background-color: #9f3a5d;
    
}